:root {
    --greyGradient: linear-gradient(to bottom, #F5F5F5 0%, #FAFAFA 50%, #F5F5F5 100%);
    --blue: #004593;
    font-size: calc(1em + 0.1vw);
}

@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");

body {
    margin: 0;
    font-family: "Maven Pro";
    background: var(--greyGradient);
}

.headerNav {
    box-shadow: 0px 2px 4px #B0BEC5;
    font-size: 2rem;
    padding: 15px 25px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #1570FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    ul {
        font-size: 0.75em;
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 11px;
            a {
                color: #1570FF;
                transition: all 0.4s;
                text-decoration: none;
                &:hover {
                    color: var(--blue);
                }
            }
        }
    }
}

#top { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-gap: 50px; 
} 

#info {
    grid-row: span 2;
    p {
        margin: 0 0 50px;
    }
}

.infoBox { 
    display: inline-block; 
    color: #fff; 
    text-decoration: none; } 
    .infoBox > div { 
        background: linear-gradient(45deg, #EF5350 0%, #D81B60 100%); 
        padding: 20px; 
        height: 300px; 
        display: flex; 
        align-items: center; 
        box-sizing: border-box; 
        flex-wrap: wrap;
        transition: box-shadow 0.2s;
        &:hover {
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
        }
    } 

.infoBox h2 { 
    margin: 10px 0; 
    width: 100%;
}


@media only screen and (max-width: 1440px) {
    .headerNav {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 1220px) {
    .headerNav {
        padding: 10px 25px;
        ul {
            display: block;
            float: none;
            margin: 7px 0;
        }
    }
}

@media only screen and (max-width: 900px) {
    #top {
        grid-template-columns: 1fr 1fr;
    }
    #info {
        grid-row: initial;
        p {
           margin: 0; 
        }
        p:not(:last-of-type) {
            margin: 0 0 50px 0;
        }
    }
}

@media only screen and (max-width: 630px) {
    #top {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
    }
}

@media only screen and (max-width: 400px) {
    header {
        font-size: 3rem;
    }
}